<!DOCTYPE html>
<html>
<head>
  <title>Rosenblit</title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="c96986d83839e397245932dbc61a4929.css" />
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->

  <style type="text/css">
    p { text-indent: 2rem; }
    p:first-of-type { text-indent: 0; }
  </style>
</head>
<body>
  <main>
    <header>
      <div class="context">
        <span class="issue-icon">
          <a class="issue-series-link" href="https://www.canopycanopycanopy.com/issues#23" target="_self"></a>
        </span> 
        <div class="type-name">Digital Project</div>
        <div class="post-date">Published on April 1, 2017</div>
      </div>
    </header>
    <div class="container">
      <h1 class="title">Projections Maybe Postures</h1>
      <h2 class="byline">by <a href="https://www.canopycanopycanopy.com/contributors/r#jen-rosenblit">Jen Rosenblit</a> and <a href="https://www.canopycanopycanopy.com/contributors/b#kate-brandt">Kate Brandt.</a></h2>
      <p class="intro">Between September 2015 and May 2016 I had a nine-month residency at the Lower Manhattan Cultural Council. The residency space was open plan. I’d sit for long periods of time in my studio, often watching or listening to what the other artists were busy with on the floor. I had no apartment in NYC anymore. I wasn’t even living in my studio—those glory days were over. I was concerned with temporary domestic spaces, with interim. We set up a simple score: 10 minutes of “hanging out” with objects, letting things fester and shift. Kate was pregnant and we were watching her body grow. We were interested in the informal nature of the still, and in the piling and weight of still images pulled from footage. We laid out certain items on the table—gloves, lotions, lip balms, fabrics: objects that could possibly be perceived as “body,” or in correspondence with a certain body-ness. The table was an altar, shrine, puppet theater. We were not setting up images. We were busy with a kind of togetherness. Arranging, rearranging, placing, draping, posing and posturing, stepping back and seeing each other’s next position. After 10 minutes, the camera shut off and each performance was over.</p>
    </div>
  </main>
  <div class="media__controls">
    <div class="media__button play"></div>
  </div>
  <div class="grid"></div>
  <div class="loader__outer"><div class="loader__inner"><div class="loader__spinner"></div></div></div>
  <script src="c96986d83839e397245932dbc61a4929.js"></script>
</body>
</html>
