<!DOCTYPE html>
<html>
<head>
  <!-- <title>Rosenblit</title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> -->
  <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/tc3-whitecube/rosenblit/601fc8b4e73c5e35bc7ec9089d03c805.css" />
  <style type="text/css">
    p { text-indent: 2rem; }
    p:first-of-type { text-indent: 0; }
  </style>
</head>
<body>
  <main>
    <header>
      <div class="context">
        <span class="issue-icon">
          <a class="issue-series-link" href="https://www.canopycanopycanopy.com/issues#23" target="_self"></a>
        </span>
        <div class="type-name">Digital Project</div>
        <div class="post-date">Published on May 11, 2017</div>
      </div>
    </header>
    <div class="container">
      <div class="text-container">
      <h1 class="title">Projections Maybe Postures</h1>
      <h2 class="byline">by <a href="https://www.canopycanopycanopy.com/contributors/r#jen-rosenblit">Jen Rosenblit</a> and <a href="https://www.canopycanopycanopy.com/contributors/b#kate-brandt">Kate Brandt</a></h2>
      <p class="intro">Between September 2015 and May 2016, I had a nine-month residency at the Lower Manhattan Cultural Council. The residency space had an open floor plan. I’d sit for long periods of time in my studio, often watching or listening to what the other artists were busy doing on the floor. I didn’t have an apartment in New York anymore. I wasn’t even living in my studio; those glory days were over. I was concerned with temporary domestic spaces, with the interim. Kate and I set up a simple score: ten minutes of hanging out with objects, letting things fester and shift. Kate was pregnant and we were watching her body grow. We were interested in the informality of stills pulled from video footage, in piling them up and feeling their weight. We laid out certain items on the table: gloves, lotions, lip balms, fabrics; objects that could possibly be perceived as having to do with the body, or in correspondence with a certain corporeality. The table was an altar, shrine, puppet theater. We were not setting up images. We were busy with a kind of togetherness. Arranging, rearranging, placing, draping, posing, posturing, stepping back and seeing the other assume her next position. Each time, the camera shut off after ten minutes and the performance was over.</p>
    </div>
  </div>
  </main>
  <div class="media__controls">
    <div class="media__button play"></div>
  </div>
  <div class="grid"></div>
  <div class="loader__outer"><div class="loader__inner"><div class="loader__spinner"></div></div></div>
  <script src="https://s3.amazonaws.com/tc3-whitecube/rosenblit/601fc8b4e73c5e35bc7ec9089d03c805.js"></script>
</body>
</html>
