<!DOCTYPE html>
<html>
<head>
  <title>Rosenblit</title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" type="text/css" href="c96986d83839e397245932dbc61a4929.css" />
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->

  <style type="text/css">
    p { text-indent: 2rem; }
    p:first-of-type { text-indent: 0; }
  </style>
</head>
<body>
  <main>
    <div class="container">
      <h1 class="title">Title TK</h1>
      <h2 class="byline">by Jen Rosenblit and Kate Brandt</h2>
      <p class="intro">Ex sea paulo essent. An ponderum lucilius ius, ne zril iriure complectitur per, modo labitur omnesque id sed? Cu hinc iusto ubique his? Mei iisque pertinacia an, duo dicta eligendi in, et esse solum vulputate pro.Porro erant te ius, offendit iracundia efficiendi ad sea? Pri at volumus dolores, putant debitis persecuti in nec, vim eros definiebas ex? Cibo latine blandit eam eu! Usu nostrum luptatum similique eu! Inani vituperatoribus cu vis, decore definiebas conclusionemque per ad, falli feugait aliquando ei vel.</p>
    </div>
  </main>
  <div class="media__controls">
    <div class="media__button"></div>
  </div>
  <div class="grid"></div>
  <script src="c96986d83839e397245932dbc61a4929.js"></script>
</body>
</html>
